<h1>admin</h1>
 <%= button_to "logout", destroy_user_session_path, method: :delete  %>
 <% flash.each do |type, msg| %>
							<div style="color:greensa">
								<%= msg %>
							</div>
						<% end %>