.card {
  width: 22rem;
  max-width: 90%;
  border: solid 4px #FFF;
  border-radius: 2rem;
  padding: .75rem;
  text-decoration: none;
  color: inherit;
  background: #ECEFF1;
  box-shadow: 0 16px 32px #CFD8DC;
  transition: all 400ms ease;
  &:hover {
    background: #FFF;
  }
  &__body {
    background: #FFF;
    border-radius: 1.25rem;
    padding: .75rem;
  }
  &__top {
    display: flex;
    font-weight: 500;
  }
  &__owner,
  &__creator {
    width: 50%;
    display: flex;
  }
  &__owner {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -1px;
      width: 2px;
      height: 100%;
      border-radius: 2px;
      background: #ECEFF1;
    }
  }
  &__creator {
    flex-direction: row-reverse;
    text-align: right;
  }
  &__avatar {
    width: 3rem;
    height: 3rem;
    background: #ECEFF1;
    border-radius: 100%;
    flex-shrink: 0;
  }
  &__user {
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title {
      font-size: .75rem;
      color: #B0BEC5;
    }
  }
  &__image {
    padding-top: 75%;
    position: relative;
    overflow: hidden;
    margin-top: .75rem;
    border-radius: 1rem;
    background: #ECEFF1;
    box-shadow: 0 16px 32px #ECEFF1;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 110%;
      object-fit: fill;
    }
  }
  &__info {
    margin: .75rem;
    display: flex;
    justify-content: space-between;
    p {
      margin: 0;
    }
  }
  &__footer {
    background: #FFF;
    padding: .75rem;
    border-radius: .75rem .75rem 1.75rem 1.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn {
    width: 48%;
    padding: 1rem;
    text-align: center;
    font-weight: 500;
    transition: all 200ms ease;
    &--primary {
      background: #263238;
      color: #ECEFF1;
      border-radius: .5rem .5rem 1.25rem .5rem;
      &:hover {
        background: #304FFE;
      }
    }
    &--secondary {
      border-radius: .5rem .5rem .5rem 1.25rem;
      &:hover {
        background: #ECEFF1;
        color: #304FFE;
      }
    }
  }
}